body {
    font-family: Arial, sans-serif;
    background-color: #e20404;
  }
  
  h1 {
    color: #333;
    text-align: center;
  }
  
  p {
    font-size: 16px;
    line-height: 1.5;
  }
  
  a {
    color: #007BFF;
    text-decoration: none;
  }
  
  a:hover {
    color: #0056b3;
  }  